[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://github.com/pchome/wlroots.git
[submodule "src/reshade"]
	path = src/reshade
	url = https://github.com/Joshua-Ashton/reshade
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers/
